body {
  background: #f9f7fe;
  font-family: Roboto, sans-serif;
}

a {
  color: #885df1;
}

.weather-app {
  background: #fff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: #fff;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  margin: 0;
}

.weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-details strong {
  color: #f65282;
}

.current-temperature-container {
  display: flex;
}

.current-temperature-icon {
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-weekday {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
  color: rgba(39, 33, 66, 0.4);
}
